*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial;
}

body>section {
    height: 100%;
    width: 100%;
}

#chart {
    width: 96%;
    height: 150px;
    background: rgb(218, 218, 218);
    background: #fff;
    opacity: 0.9;
    border-radius: 0px;
    border: 1px solid #999;
}

#chart line {
    stroke: #2b2b2b;
}

#chart line.vertical-marker.now {
    stroke: #c00;
}

rect.width {
    min-width: 30;
}

rect.interval.blue-interval {
    fill: #eaf1e6;
    stroke: #7fc97f;
    stroke-width: 2;
    fill: #f0edf7;
    stroke: #beaed4;
    stroke-width: 2;
}

rect.interval.green-interval {
    fill: #eaf1e6;
    stroke: #7fc97f;
    stroke-width: 2;
}

rect.interval.purple-interval {
    fill: #f0edf7;
    stroke: #beaed4;
    stroke-width: 2;
}

rect.interval.orange-interval {
    fill: #fdc086;
    stroke: #fdc086;
    stroke-width: 2;
    opacity: 0.5;
}

circle.blue-dot {
    fill: #eaf1e6;
}

circle.green-dot {
    fill: green;
}

text.interval-text {
    font-size: 12px;
}

/* Override d3tip */

.d3-tip {
    background: white;
    color: black;
    position: relative;
    top: 0;
}

/* Tiny Flex Grid */

[flex] {
    display: flex;
}

[flex-fill] {
    flex: 1;
}

[flex-full-center] {
    align-items: center;
    justify-content: center;
}

[flex-direction=column] {
    flex-direction: column;
}

[flex-direction=row] {
    flex-direction: row;
}

[flex-size="40"] {
    flex: 40;
}

[flex-size="60"] {
    flex: 60;
}